@tailwind base;
@tailwind components;
@tailwind utilities;

.cover-text{
    font-family: Curlz MT;
    font-weight: bolder;
    text-shadow: 5px 5px 5px  black;
}
.cover-text-sm , .off{
    text-shadow: 5px 5px 5px  black;
}